<html>
    <head>
        <title>音乐爬虫</title>
    </head>
    <body>
        <form action="">
            <div>
                <label for="singer-name">歌星：</label>
                <input type="text" placeholder="请输入歌星名称">
            </div>
            <div>
                <label for="singer-name">页码：</label>
                <input type="text" placeholder="请输入页码">
            </div>
            <div>
                <label for="singer-name">数目：</label>
                <input type="text" placeholder="请输入数目">
            </div>
            <div>
                <input type="submit">
            </div>
        </form>
    </body>
</html>